*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-image: linear-gradient(to bottom, #d198c5, #f097af, #ff9e92, #f9af76, #e0c568);
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: 'Karla', sans-serif;
	font-size: 35px;
	color: white;
}
	h1{
font-family: 'Courgette', cursive;
text-align: center;
font-size: 4.5rem;
font-weight: bold;
margin: 20px 10px; to
	}
	img{
		width: 350px;
	margin-left: 15px;
		border-radius: 50%;
		border: 10px solid white;
	}
	div{
		margin: 30px 7px;
		line-height: 55px;
	}
	h3{
		font-weight: bold;
		font-size: 40px;
		margin: 10px 0;
		font-family: font-family: 'Montserrat', sans-serif;;
	}
	li{
		margin: 8px;
		margin-left: 25px;
		list-style-type: disc;
	}
	
	hr{
		width: 80px;
		border: 0;
		border-top: 10px dotted grey ;
		height: 1px;
		margin: auto;
	}
	i{
		font-size: 90px;
		margin: 15px auto;
}
#bio{
	font-size: 30px;
	text-align: justify;
}
form{
	margin: 20px auto;
	color: black;
	width: 100%;
	box-sizing: border-box;
}
#form{
	margin: auto;
	text-align: center;
	font-weight: bold;
}
label{
	font-size: 40px;
	margin: 10px auto;
	color: white;
}
input{
	border: 0;
	border-bottom: 3px black solid;
	width: 60%;
	height: 40px;
	background-color: #f9af76;
	margin: 10px auto;
}
textarea{
border: 0;
	border-bottom: 3px black solid;
	margin: 10px auto;
	width: 60%;
	height: 70px;
	background-color: #f9af76;
}
button{
	width: 40%;
	background-color: black;
	border-radius: 10px;
	color: #f9af76;
	border: 1px;
	border-color: black;
	font-size: 20px;
	text-align: center;
	height: 30px;
	margin: auto 30px;
}
